* {
    font-family: "CopperPot",helvetica,sans-serif;
}

h1, .text, .foodtitle {
    text-align: center;
}

.foodsection {
    margin: auto;
    width: 75%;
    text-align: center;
}


li {
    display: inline-block;
    margin: 0px 40px;
    text-align: center;
    font-size: larger;
}

img {
    display: block;
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 1%;
}

#ravioli img {
    height: auto;
    width: 200px;
}